*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

 html, body{
  width: auto;
  overflow-x: hidden;
}

@media (max-width:768px) {
  
  header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
  }
}

/* ---------------nav--------------------- */



a{
  outline: none;
  text-decoration: none;
  color: none;
}

li{
  list-style: none;
}

@media (max-width:768px) {
  
  .nav{
    width: 100vw;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.199);
    border: #0563bb;
    box-shadow: 0 0 10px rgb(68, 67, 67);
    position: relative;
    z-index: 99;
    backdrop-filter: blur(3px);
  }

  .container-menu-amburguesa{
    position: inherit;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.185);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
  }

  .menu-ambuerguesa{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .menu-ambuerguesa div{
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background-color: black;
    transition: all 0.3s ease-in;
  }

  .rotateDiv{
    transform: rotate(30deg);
    transform-origin: left;
  }

  .visibilityDiv{
    visibility: hidden;
  }

  .rotateDiv2{
    transform: rotate(-30deg);
    transform-origin: left;
  }

  .nav-section{
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 89;
    transition: all .5s ease-in-out;
  }

  .container-menu{
    left: 0;
  }

  .container-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
    width: 100%;
  }

  .list{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    width: 300px;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #f2f3f5;
    border-radius: 30px;
    padding: 0 15px;
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }

  .listSelect{
    background-color: #0563bb;
    color: white;
  }
}

@media ( min-width:1024px ) {
  
  header{
    position: fixed;
    width: max-content;
    height: 100vh;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .nav{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
  }

  .container-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .list{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    text-align: justify;
    align-items: center;
    gap: 15px;
    border: solid 1px black;
    white-space: pre;
    padding: 0 9px;
    font-size: 30px;
    background-color: white;
    transition: all .5s ease-in-out;
  }

  .list:hover{
    width: 220px;
    border-radius: 25px;
  }
}



/* Home style */

@media (max-width:768px) {
  
  .container-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../src/assets/imghome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: desplazamiento 20s linear infinite;
  }

  @keyframes desplazamiento {
    0%{
      background-position: 45% 50%;
    }
    50%{
      background-position: 55% 50%;
    }
    100%{
      background-position: 45% 50%;
    }
  }

  .container-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .programador-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0;
  }

  .name{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .container-networks{
    display: flex;
    gap: 15px;
    padding: 15px 0;
    font-size: 30px;
  }

  .network{
    color: white;
    transition: all .3s ease-in-out;
  }

  .network:hover{
    color: #0563bb;
  }
}

@media (min-width:1024px) {
  
  .container-home{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/inteligencia_artificial.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 170px;
    z-index: 20;
  }
  
  .container-home::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 25;
  }
  
  .container-presentation{
    position: relative;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    z-index: 30;
    padding-right: 300px;
  }
  
  .programador-title{
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
  }
  
  .name{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #bb054f;
  }

  .container-networks{
    display: flex;
    padding: 50px 0 0 30px;
    width: 100%;
    gap: 50px;
  }

  .network{
    color: white;
    font-size: 50px;
  }

  .network:hover{
    color: #0563bb;
  }
  
}
/* -------------------About------------ */

@media (max-width:768px) {
  
  .container-about{
    width: 100vw;
    height: max-content;
    padding: 0 0 70px;
  }

  .body-about{
    width: 100%;
    height: 100%;
  }

  .container-h2{
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    text-align: center;
    font-size: 25px;
    font-family:'Raleway', sans-serif;
  }

  .container-h2::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgb(134, 134, 134);
    top: 160px;
  }

  .container-h2::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #0563bb;
    top: 159px;
  }

  .container-description-profesional{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
  }

  .profesional-description{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
  }
}

@media (max-width:768px) {
  .container-img-and-skils{
    width: 50%;
  }
}

@media (min-width:1024px) {

  .container-about{
    width: 100%;
    height: 100vh;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    border: solid 5px transparent;
  }

  .body-about{
    width: 70%;
    height: 100%;
  }

  .container-h2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0 60px;
    font-size: 50px;
    font-family:'Raleway', sans-serif;
  }

  .container-h2::before{
    content: '';
    width: 600px;
    height: 2px;
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 150px;
  }

  .container-h2::after{
    content: '';
    width: 300px;
    height: 4px;
    background-color: #0563bb;
    position: absolute;
    top: 149px;
  }

  .container-description-profesional{
    height: auto;
    display: flex;
    padding: 0 10px;
  }

  .profesional-description{
    width: 100%;
    height: auto;
    padding: auto 10px;
  }

  .profesional-description .description{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .title-presentation-project{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 0 0;
  }

  .container-list-description-projects{
    width: 100%;
    border: solid 6px rgba(255, 52, 52, 0);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .description-project{
    display: flex;
    width: 100%;
    height: 110px;
    border: solid 2px rgba(0, 0, 0, 0);
    border: none;
  }

  .container-line-circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76.97px;
    height: 100%;
  }

  .line{
    width: 7px;
    height: 100%;
    background-color: #0563bb;
  }

  .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 3px #0563bb;
    position: absolute;
  }

  .project-description{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
  }

  .title-discription-project{
    color: #0563bb;
  }

  .img-about{
    padding: 10px;
  }
}


/* Portafolio */

@media (max-width:768px) {
  
  .container-portafolio{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
  }

  .container-portafolio-title{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    padding-top: 0;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
  }

  .container-portafolio-title::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgb(134, 134, 134);
    top: 50px;
  }

  .container-portafolio-title::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #0563bb;
    top: 49px;
  }

  .proyectos-creados{
    text-wrap: balance;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 0 5px 20px;
  }

  .container-list-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .list-projects{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(121, 121, 121, 0.507);
  }
}

@media (min-width:1024px) {
  
  .container-portafolio{
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-portafolio-title{
    width: 100%;
    height: max-content;
    padding: 20px 0 50px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 75px;
    font-family:'Raleway', sans-serif;
  }

  .container-portafolio-title::before{
    content: '';
    position: absolute;
    width: 600px;
    height: 2px;
    background-color: #727272;
    top: 131px;
  }

  .container-portafolio-title::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 4px;
    background-color: #0563bb;
    top: 130px;
  }

  .proyectos-creados{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
  }

  .proyectos-creados p{
    width: 1024px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .container-list-projects{
    width: 1024px;
    height: auto;
    padding: 60px 0;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .list-projects{
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    position: relative;
  }

  .list-projects:hover{
    box-shadow: 0 0 20px rgb(73, 73, 73);
  }

  .ancor-click{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: #0563bb00;
    color: rgba(255, 255, 255, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    top: 0;
    left: 0;
    transition: all .5s ease;
  }

  .list-projects:hover .ancor-click{
    background-color: #0563bbc7;
    color: white;
  }
}

/* contacto */

@media ( max-width:768px ) {
  
  .container-contacto{
    width: 100vw;
    height: max-content;
    padding: 60px 20px;
  }

  .container-contacto-title{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .container-contacto-title::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #0563bb;
    top: 49px;
  }

  .container-contacto-title::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgb(134, 134, 134);
    top: 50px;
  }

  .container-data-contact{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0 ;
  }

  .list-data-contact{
    width: 100%;
    height: max-content;
    display: flex;
    gap: 30px;
  }

  .list-data-contact i{
    color: #0563bb;
    background-color: #eef7ff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
  }

  .list-data-contact div{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-data-contact h6{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

  .list-data-contact span{
    font-family: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .form-contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .input-contact-email{
    width: 90%;
    height: 40px;
    outline: none;
    padding: 0 10px;
  }

  .textarea-contact{
    width: 90%;
    outline: none;
    padding: 10px;
  }

  .button-contact{
    width: 90%;
    height: 45px;
    background-color: #0563bb;
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 20px;
  }
}



@media ( min-width:1024px ) {
    
  .container-contacto{
    width: 100vw;
    height: 100vh;
    border: solid 3px transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-contacto-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    flex-grow: 0;
  }

  .container-contacto-title::before{
    content: '';
    position: absolute;
    width: 600px;
    height: 2px;
    background-color: #727272;
    top: 131px;
  }

  .container-contacto-title::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 4px;
    background-color: #0563bb;
    top: 130px;
  }

  .container-data-form{
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: solid 3px transparent;
    padding: 0 50px;
    width: 1024px;
  }

  .container-data-contact{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .list-data-contact i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eef7ff;
    color: #0563bb;
  }

  .list-data-contact{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #727272;
  }

  .list-data-contact h6{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
  }

  .form-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .form-contact input{
    width: 500px;
    height: 50px;
    padding: 0 20px;
    outline: none;
  }

  .form-contact input:focus{
    border: solid 2px #0563bb;
  }

  textarea{
    resize: none;
    width: 500px;
    height: 150px;
  }

  .textarea-contact:focus,
  .textarea-contact:active {
    padding: 10px;
    border: 2px solid #0563bb;
    outline: none;
  }

  .button-contact{
    margin: 0 auto;
    width: 170px;
    height: 50px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0563bb;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


